# These are the package requirements for making LFMC maps. Tested in Python 3.6 and 3.9. 

earthengine-api==0.1.283
pandas==1.1.5
tqdm==4.47.0
google-api-core==1.21.0
google-api-python-client==1.12.8
google-auth==1.18.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-cloud-core==1.1.0
google-cloud-storage==1.23.0
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
tabulate==0.8.7
scikit-learn==0.19.1
gdal==3.0.4
matplotlib==3.2.1
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2

# Below package(s) are for automatic uploading of LFMC maps to earth engine asset (which is automatically pulled to earth engine app). This can be gnarly to install, is maintained by just one good samaritan (Sam Roy from Planet), and by the developer's own words is ``hacky" (it opens a mozilla window, runs a bot to do several clicks and upload the maps). 
# geeup==0.5.2